<!DOCTYPE html>
<html lang="ru" xxmlns:th="http://www.thymeleaf.org" xmlns:xxmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Сортировка массива пузырьковым методом</title>
        <link rel="stylesheet" th:href="@{styles.css}" />
        <script type="text/javascript" th:src="@{script.js}"></script>
    </head>

    <body>
        <h1 class="page-header">Сортировка массива пузырьковым методом</h1>

        <form class="submit-sorting-form" th:action="@{/array}" th:object="${arrayDtoInput}" method="post">
            <fieldset class="user-fieldset">
                <label class="user-fieldset-label" for="array">
                    Введите целые числа через запятую:
                    <input class="user-fieldset-input" id="array" th:field="*{array}" type="text" placeholder="35, 67, 12, 48" required />
                </label>
                <label class="user-fieldset-label" for="array">
                    Под каким названием сохранить сортировку:
                    <input class="user-fieldset-input" id="arrayName" th:field="*{arrayName}" type="text" placeholder="new-array" required />
                </label>
            </fieldset>
            <fieldset class="user-fieldset">
                <label class="user-fieldset-label" for="sort-type">Выберите тип сортировки:
                    <select class="user-fieldset-selector" id="sort-type" th:field="*{sort}" required>
                        <option value="">(выберите тип сортировки)</option>
                        <option value="ASC">по возрастанию</option>
                        <option value="DESC">по убыванию</option>
                    </select>
                </label>
            </fieldset>
            <input class="user-fieldset-btn array-submit-btn" type="submit" value="Отправить" />
        </form>

        <form class="choose-sorting-form" th:classappend="${selectArrayOptions.size} > 0 ? '' : 'hidden'" method="get" action='/array'>
            <fieldset class="user-fieldset">
                <label class="user-fieldset-label" for="sort-name">Выберите название сортировки:
                    <select class="array-fieldset-selector" id="sort-name" name="arrayId" required>
                        <option class="user-fieldset-placeholder" value="">(выберите название сортировки)</option>
                        <option th:each="option : ${selectArrayOptions}" th:value="${option.id}" th:text="${option.name}"></option>
                    </select>
                </label>
            </fieldset>
            <input class="user-fieldset-btn choose-array-btn" type="submit" value="Отправить" />
        </form>

        <p class="sort-result hidden">Результат: <span class="sort-result-output"></span></p>

    </body>
</html>